.gh-diet {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    position: relative;
    display: flex;
    align-items: center;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__txt {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        .clr {
            // text-shadow: 1px 1px 2px #fff, 0 0 25px #fff, 0 0 5px #fff;
            text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
            color: #000;
            font-weight: 900;
            opacity: 0.3;
            font-size: 400px;
            line-height: 400px;
            text-align: left;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                color: #fff;
                transition: 0.1s;
                opacity: 0.5;
            }
            &:first-child {
                animation-name: example;
                animation-iteration-count: infinite;
                animation-duration: 4s;  
                color: #000; 
            }
            @keyframes example {
                0%   {color: #fff;}
                25%  {color: #000;}
                50%   {color: #fff;}
                75%   {color: #000;}
                100%   {color: #fff;}
            }
        }
    }
    
    

    &__plan {
        position: relative;
        z-index: 2;
        text-align: left;
        color: #fff;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        opacity: 0.2;
        margin-top: -70px;
        padding-left: 29px;
    }
}


@include tablet {
    .gh-diet {
        height: 400px;
        &__txt {
            .clr {
                font-size: 250px;
                line-height: 250px;
            }
        }

        &__plan {
            margin-top: -20px;
            padding-left: 20px;
        }
    }
}

@include mobile {
    .gh-diet {
        height: auto;
        padding: 40px 0;
        &__txt {
            .clr {
                font-size: 150px;
                line-height: 150px; 
            }
        }

        &__plan {
            margin-top: 10px;
            text-align: left;
            padding-left: 7px;
        }
    }
}