.dz-header{
    background-color: #0000006e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    .navbar-nav{
        margin-left: auto;
    }
    .navbar-brand {
        img {
            width: 80px;
            height: auto;
        }
    }
    .nav-link{
        font-weight: 700;
        font-size: 17px;
        margin: 0 8px;
        color: #fff !important;
        transition: 0.3s;
        &:hover{
            transition: 0.3s;
            transform: translateY(2px);
            opacity: 0.8;
        }
        &.icon{
            position: relative;
            padding-left: 24px !important;
            &::after{
                content: '';
                position: absolute;
                width: 15px;
                height: 16px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17' viewBox='0 0 15 17' fill='none'%3E%3Cg clip-path='url(%23clip0_17_4212)'%3E%3Cpath d='M14.7849 14.8017L13.9907 13.9409C12.9535 12.8135 11.8789 11.6489 10.82 10.5046C12.1001 8.63795 12.3991 6.57551 11.7139 4.3713C11.3152 3.0886 10.5521 1.99156 9.50872 1.19831C8.49647 0.425315 7.2662 0 6.04215 0C5.712 0 5.37874 0.0303797 5.0517 0.091139C3.46013 0.388185 2.0679 1.31983 1.13663 2.71729C0.205357 4.11476 -0.171511 5.8329 0.0714289 7.56116C0.276994 9.00926 0.952866 10.3628 1.96823 11.3721C2.98671 12.3814 4.28862 12.9822 5.63102 13.0666C5.75872 13.0734 5.88953 13.0801 6.01723 13.0801C7.20079 13.0801 8.30336 12.7257 9.29381 12.0303C10.0008 12.8 10.7203 13.5797 11.418 14.3325C11.7637 14.7071 12.1125 15.0852 12.4583 15.4599C12.6856 15.7063 12.9161 15.9595 13.1372 16.2025C13.2431 16.3173 13.3459 16.432 13.4518 16.5468L13.5546 16.6616H13.8816L14.2305 16.2768C14.4142 16.0742 14.598 15.8717 14.7849 15.6692C14.8908 15.5544 14.9998 15.4362 14.9967 15.2371C14.9998 15.0346 14.8908 14.9164 14.7849 14.8017ZM6.0951 1.53586C7.29734 1.53586 8.44041 2.05907 9.30939 3.00759C10.1846 3.96286 10.6611 5.22193 10.6518 6.55526C10.6424 7.89871 10.1597 9.15441 9.29381 10.0928C8.42483 11.0312 7.2662 11.5477 6.02969 11.5477H6.02035C4.78385 11.5443 3.62832 11.0244 2.75934 10.0793C1.89348 9.13416 1.41383 7.87509 1.41071 6.52825C1.4076 5.20167 1.88725 3.94936 2.75934 2.99746C3.62832 2.05569 4.76827 1.53586 5.97363 1.53586C5.99232 1.53586 6.011 1.53586 6.03281 1.53586H6.04215C6.05772 1.53586 6.07641 1.53586 6.0951 1.53586Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_17_4212'%3E%3Crect width='15' height='16.6582' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        &.icon.login{
            margin: 0;
            padding-left: 4px !important;
            padding-right: 24px;
            &::after{
                left: unset;
                right: 0;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15' fill='none'%3E%3Cg clip-path='url(%23clip0_17_4147)'%3E%3Cpath d='M7.40667 0C7.80447 0.047791 8.20226 0.0860238 8.58818 0.197536C11.1976 0.943076 12.9728 2.67948 13.7031 5.47048C14.466 8.37935 13.7417 10.9314 11.7141 13.0246C10.6306 14.1429 9.30065 14.7833 7.8015 14.9554C5.45926 15.223 3.47622 14.4106 1.85239 12.5945C1.26164 11.935 0.822281 11.1608 0.504639 10.3133C0.474953 10.2336 0.445266 10.1572 0.451204 10.068C0.466047 9.91504 0.572917 9.7876 0.712442 9.76211C0.860873 9.73343 0.997429 9.81308 1.06571 9.98513C1.19039 10.3037 1.31804 10.6192 1.48428 10.9123C2.5708 12.843 4.14713 14.0059 6.24001 14.2672C8.37741 14.5348 10.2031 13.7925 11.6726 12.1071C12.6018 11.0429 13.1391 9.76529 13.2905 8.31563C13.4894 6.41355 13.0411 4.69626 11.916 3.20837C10.8443 1.7842 9.44611 0.946262 7.7451 0.742353C5.63441 0.490654 3.83543 1.20752 2.36002 2.83879C1.8138 3.44095 1.4071 4.14507 1.10727 4.92566C1.09242 4.96389 1.08055 5.00531 1.06274 5.04354C0.979618 5.22196 0.816344 5.29843 0.659007 5.23152C0.495733 5.16461 0.412612 4.97982 0.477921 4.78866C0.599635 4.42545 0.75994 4.07498 0.943994 3.74363C2.02457 1.8065 3.59497 0.602167 5.65519 0.133815C5.95799 0.0637213 6.26969 0.0414189 6.57546 0C6.85154 0 7.13059 0 7.40667 0Z' fill='black'/%3E%3Cpath d='M-2.21052e-05 7.40761C0.0771619 7.2037 0.23153 7.14954 0.418553 7.15272C1.03009 7.15272 1.64162 7.15272 2.25316 7.15272C4.41134 7.15272 6.56656 7.15272 8.72474 7.15272C8.78115 7.15272 8.84052 7.16865 8.89989 7.13679C8.89099 7.06989 8.83755 7.04121 8.80193 7.00298C8.25274 6.41037 7.70057 5.81776 7.14841 5.22834C7.10982 5.18692 7.07123 5.1455 7.03857 5.1009C6.94654 4.9639 6.95842 4.78229 7.06529 4.66441C7.16919 4.54652 7.32653 4.52422 7.45715 4.61343C7.50761 4.64529 7.54917 4.69308 7.59073 4.73769C8.34773 5.55013 9.10473 6.36258 9.86173 7.17503C10.0933 7.42354 10.0962 7.58922 9.86766 7.83454C9.1077 8.65018 8.34773 9.46899 7.5848 10.2846C7.54027 10.3324 7.49277 10.3802 7.43637 10.4153C7.29981 10.4981 7.13357 10.4567 7.03857 10.3292C6.94951 10.2082 6.94951 10.0266 7.04451 9.9023C7.08013 9.85769 7.11872 9.81628 7.15732 9.77486C7.70948 9.18225 8.26164 8.59283 8.81083 8.00022C8.84052 7.96836 8.87021 7.93331 8.9088 7.88871C8.84646 7.83773 8.78115 7.86003 8.72178 7.86003C5.9669 7.86003 3.21499 7.86003 0.460114 7.86003C0.261216 7.86003 0.0830992 7.83136 -0.00299072 7.60196C-2.21052e-05 7.53505 -2.21052e-05 7.47133 -2.21052e-05 7.40761Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_17_4147'%3E%3Crect width='14' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
        }
    }
    .navbar-toggler{
        padding: 0;
        border: 0;
        &:focus{
            outline: 0;
            box-shadow: none;
        }
    }
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cg clip-path='url(%23clip0_17_4155)'%3E%3Cpath d='M15 7.51923C15 9.4069 15.0035 11.2981 15 13.1857C15 14.0352 14.4652 14.7273 13.6542 14.9441C13.4899 14.9895 13.3221 15.0035 13.1543 15.0035C9.38942 15.0035 5.62107 15.0035 1.85621 15.0035C0.772547 15.0035 0.00349569 14.2275 0.00349569 13.1438C0 9.37893 0 5.61757 0 1.85971C0 0.776043 0.769051 0.00349569 1.85621 0.00349569C5.61757 0 9.37544 0 13.1368 0C14.2309 0 14.9965 0.772547 15 1.8667C15 3.75087 15 5.63505 15 7.51923ZM14.2869 7.49825C14.2869 5.62806 14.2869 3.75437 14.2869 1.88418C14.2869 1.15707 13.8464 0.71312 13.1298 0.71312C9.37544 0.71312 5.62107 0.71312 1.8667 0.71312C1.15707 0.71312 0.71312 1.15707 0.71312 1.8667C0.71312 5.62107 0.71312 9.37544 0.71312 13.1298C0.71312 13.8394 1.16057 14.2834 1.87019 14.2834C5.62456 14.2834 9.37893 14.2834 13.1333 14.2834C13.2557 14.2834 13.378 14.2764 13.4969 14.2449C14.0002 14.1051 14.2869 13.6961 14.2904 13.1123C14.2869 11.2421 14.2869 9.37194 14.2869 7.49825Z' fill='black'/%3E%3Cpath d='M7.50173 7.14519C8.907 7.14519 10.3123 7.14519 11.7175 7.14519C11.9902 7.14519 12.1405 7.27103 12.144 7.49476C12.144 7.68352 12.0182 7.83034 11.8294 7.84782C11.7665 7.85481 11.7001 7.85132 11.6371 7.85132C8.87903 7.85132 6.11744 7.85132 3.35934 7.85132C3.3069 7.85132 3.25447 7.85132 3.20203 7.84782C2.99229 7.83384 2.85246 7.69052 2.85596 7.49126C2.85946 7.299 2.99229 7.15917 3.19504 7.14519C3.25447 7.14169 3.3104 7.14169 3.36983 7.14169C4.74713 7.14519 6.12443 7.14519 7.50173 7.14519Z' fill='black'/%3E%3Cpath d='M7.48075 4.64228C6.07549 4.64228 4.67022 4.64228 3.26495 4.64228C3.00977 4.64228 2.85945 4.50944 2.85596 4.29271C2.85596 4.10394 2.9818 3.96062 3.17057 3.93964C3.23349 3.93265 3.29991 3.93615 3.36283 3.93615C6.12093 3.93615 8.88252 3.93615 11.6406 3.93615C11.7035 3.93615 11.77 3.93265 11.8329 3.93964C12.0147 3.96062 12.1405 4.09695 12.144 4.27523C12.151 4.4605 12.0217 4.61431 11.8399 4.63878C11.7839 4.64577 11.7245 4.64228 11.6651 4.64228C10.2703 4.64228 8.87553 4.64228 7.48075 4.64228Z' fill='black'/%3E%3Cpath d='M7.50172 11.0708C6.09645 11.0708 4.69118 11.0708 3.28592 11.0708C3.01325 11.0708 2.86294 10.945 2.85944 10.7213C2.85595 10.536 2.98529 10.3857 3.17056 10.3647C3.20552 10.3612 3.24047 10.3612 3.27543 10.3612C6.09296 10.3612 8.91048 10.3612 11.728 10.3612C11.9937 10.3612 12.1475 10.494 12.1475 10.7178C12.1475 10.8995 12.0251 11.0394 11.8434 11.0638C11.7734 11.0708 11.7035 11.0708 11.6336 11.0708C10.2528 11.0708 8.87552 11.0708 7.50172 11.0708Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_17_4155'%3E%3Crect width='15' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
}

@include mobile-tablet{
    .dz-header{
        .navbar-nav{
            margin-left: auto;
        }
        .navbar-toggler{
            order: 1;
        }
        .navbar-brand{
            margin: 0;
            order: 2;
            width: 33%;
            display: flex;
            justify-content: center;
            img{
                width: 50px;
            }
        }
        &__login{
            width: 30%;
            display: flex;
            justify-content: flex-end;
            order: 3;
        }
        .navbar-collapse{
            order: 4;
        }
        .container-fluid{
            padding: 0;
        }
        .navbar-search{
            flex-direction: column;
            .nav-link{
                padding: 8px 0;
            }
        }
        .navbar-toggler{
            width: 33%;
            display: flex;
            justify-content: flex-start;
        }
    }
}