.gh-main-banner {
    .slick-dots li.slick-active button:before {
        background-color: #D9D9D9;
        width: 10px;
        height: 10px;
    }

    .slick-dots li button:before {
        content: "";
        background: #D9D9D9;
        width: 10px;
        height: 10px;
        &:hover {
            background-color: #D9D9D9;
        }
    }

    .slick-dots {
        bottom: 50px;
        right: 0 !important;
        width: 23%;
    }

    .slick-dots li {
        margin: 0;
    }
    .slick-arrow{
        display: none !important;
    }
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }
    &__mob {
        display: none;
    }
}

@include mobile {
    .gh-main-banner {
        &__desk {
            display: none;
        } 
        &__mob {
            display: block;
        } 
        .slick-dots {
            width: 40%;
            bottom: 20px;
        }
    }
}