.gh-offers {
    background-color: #131619;
    padding: 50px 0;

    &__out {
        display: flex;
        align-items: center;
        &--rev {
            flex-direction: row-reverse;
        }
    }

    &__image {
        width: 55%;
        video {
            // border-radius: 10px;
            // overflow: hidden;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__block {
        width: 45%;
        padding: 0 16px;
        &--fm {
            display: flex;
            margin: 0 auto;
            .content-wrapper {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@include tablet {
    .gh-offers {
        &__block {
            width: 80% !important;
        }
    }
}

@include mobile-tablet {
    .gh-offers {
        &__out {
            flex-direction: column;
        }
        &__image {
            width: 100%;
            padding-bottom: 30px;
        }
        &__block {
            width: 100%;
            padding: 0;
        }
    }
}