.gh-form {
    padding: 32px;
    opacity: 0.9;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
    }

    &__in {
        z-index: 1;
        position: relative;
        border-bottom: 1px solid #fff;
        padding: 8px 4px;
        margin-bottom: 20px;
        input {
            background-color: transparent;
            font-size: 14px;
            width: 100%;
            color: #fff;
            border: none;
            
            &:valid~.gh-form__in-l,
            &:focus~.gh-form__in-l {
                left: 4px;
                top: 0;
                font-size: 10px;
                color: #f1f1f1;
                transform: translateY(-12px);
                transition: 0.7s;
            }
        }

        &-l {
            z-index: 1;
            position: absolute;
            pointer-events: none;
            left: 4px;
            top: 7px;
            color: #f1f1f1;
            font-size: 14px;
            transition: 0.7s;
    }
    }
    
    &__drop {
        display: flex;
        justify-content: space-between;
        .gh-form__in {
            width: 15%;
            input {
                width: 100%;
            }
        }
    }

    &__one {
        width: 100%;
        margin-right: 16px;
    }

    &__cta {
        z-index: 1;
        width: 35%;
        padding-top: 10px;
    }
}

@include mobile {
    .gh-form {
        &__drop {
            flex-direction: column;
        }
        &__cta {
            width: 50%;
        }
    }
}