.gh-icon {
    // * {
    //     margin: 0;
    //     padding: 0;
    //     box-sizing: border-box;
    //     font-family: "Figtree", sans-serif;
    // }
    
    body {
        display: grid;
        place-content: center;
        min-height: 100vh;
        background: #000;
    }
    
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1em;
        width: 100%;
        height: 500px;
        transition: all 400ms;
        background-color: transparent;
    }
    
    .container:hover .box {
        filter: grayscale(100%) opacity(24%);
    }
    
    .box {
        position: relative;
        background: var(--img) center center;
        background-size: cover;
        background-position: center;
        transition: all 400ms;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container .box:hover {
        filter: grayscale(0%) opacity(100%);
    }
    
    .container:has(.box-1:hover) {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    }
    
    .container:has(.box-2:hover) {
        grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    }
    
    .container:has(.box-3:hover) {
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    }
    
    .container:has(.box-4:hover) {
        grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
    }
    
    .container:has(.box-5:hover) {
        grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    }
    
    .box:nth-child(odd) {
        transform: translateY(-16px);
    }
    
    .box:nth-child(even) {
        transform: translateY(16px);
    }
    
    .box::after {
        content: attr(data-text);
        position: absolute;
        bottom: 20px;
        background: #000;
        color: #fff;
        padding: 10px 10px 10px 14px;
        letter-spacing: 4px;
        text-transform: uppercase;
        transform: translateY(60px);
        opacity: 0;
        transition: all 400ms;
    }
    
    .box:hover::after {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 400ms;
    }
}

// .gh-icon {
//     padding: 16px;
//     display: flex;
//     align-items: center;
//     background-color:#24272E;
//     border-radius: 5px;
//     margin-bottom: 24px;

//     &__icon {
//         width: 15%;
//         margin-right: 24px;
//         display: flex;
//         justify-content: center;
//         img {
//             width: 70px;
//             height: 70px;
//         }
//     }

//     &__right {
//         width: 85%;
//         h1 {
//             font-size: 24px;
//             font-weight: 600;
//             padding-bottom: 8px;
//             color: #fff;
//         }

//         p {
//             font-size: 16px;
//             font-weight: 400;
//             color: #fff;
//         }
//     }
// }