.gh-pricetile {
    min-height: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: $spacer-4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #000;
        opacity: 0.5;
    }

    &__cnt {
        position: relative;
        z-index: 1;

        &-heading {
            font-size: 40px;
            font-weight: 900;
            padding-bottom: $spacer-3;
            text-align: left;
            color: #f1f1f1;
        }
    
        &-price {
            font-size: 45px;
            font-weight: 900;
            color: #f1f1f1;
            text-align: left;
            span {
                font-size: 30px;
                font-weight: 600;
            }
        }

        &-cta {
            margin: $spacer-3 0;
            width: 50%;
        }

        ul {
            padding-top: $spacer-4;
            li {
                padding-left: 40px;
                font-size: 18px;
                position: relative; 
                color: #f1f1f1;
                margin-bottom: 10px;
                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: -13%;
                    width: 30px;
                    height: 30px;
                    background-image: url(../../assets/images/bullet.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }

    }

    &:hover {
        &::after {
            opacity: 0.7;
        }
    }
}

.gh-pricetile.active {
    border: 1px solid #f1f1f1;
    &::after {
        opacity: 0.9;
    }
    .gh-pricetile__cnt-heading {
        color: #f1f1f1;
    }
}

@include mobile {
    .gh-pricetile {
        min-height: auto;
    }
}