.gh-btn{
    color: #000;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    font-family: inherit;
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 16px 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    text-align: center;
    transition: 0.3s;
  &:hover{
    transition: 0.3s;
    color: #f1f1f1;
    background-color: transparent;
    &::before{
        top: 0;
        left: -15%;
    }
  }

  &--inv{
    background-color: #000;
    color: $color-white;
    border: 1px solid #000;
    overflow: hidden;
    &::before{
        background-color: $color-white;
    }
    &:hover{
        color: $color-white;
        background-color: rgba($color: #5b5b5b, $alpha: 1.0);
    }
  }
}