@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-weight: 300;
  line-height: 1.4;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
select {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  overflow: auto;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

mark {
  background: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
  min-height: 100%;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p,
li {
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

.content-wrapper {
  width: 100%;
  max-width: 1340px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.desk-visible {
  display: block;
}

.only-mobile {
  display: none;
}

.hide-mobile-tablet {
  display: block;
}

.only-mobile-tablet {
  display: none;
}

@media (max-width: 1023px) {
  .content-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
  .hide-mobile-tablet {
    display: none;
  }
  .only-mobile-tablet {
    display: block;
  }
}
@media (max-width: 767px) {
  .content-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .desk-visible {
    display: none;
  }
  .only-mobile {
    display: block;
  }
}
.gh-btn {
  color: #000;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  font-family: inherit;
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 16px 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  display: block;
  text-align: center;
  transition: 0.3s;
}
.gh-btn:hover {
  transition: 0.3s;
  color: #f1f1f1;
  background-color: transparent;
}
.gh-btn:hover::before {
  top: 0;
  left: -15%;
}
.gh-btn--inv {
  background-color: #000;
  color: #ffffff;
  border: 1px solid #000;
  overflow: hidden;
}
.gh-btn--inv::before {
  background-color: #ffffff;
}
.gh-btn--inv:hover {
  color: #ffffff;
  background-color: #5b5b5b;
}

.gh-head {
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: 900;
  color: #fff;
}

.gh-banner {
  position: relative;
  background-color: #000;
}
.gh-banner__bg-out {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.gh-banner__bg-out::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}
.gh-banner__img-desk, .gh-banner__img-tab, .gh-banner__img-mob {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gh-banner__img-tab, .gh-banner__img-mob {
  display: none;
}
.gh-banner__cnt {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  justify-content: center;
  height: 600px;
  width: 50%;
}
.gh-banner__heading {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 16px;
}
.gh-banner__para {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 16px;
}
.gh-banner__cta {
  width: 25%;
}
.gh-banner__cta .gh-btn {
  display: block;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gh-banner__heading {
    font-size: 32px;
  }
  .gh-banner__para {
    font-size: 18px;
  }
  .gh-banner__cnt {
    width: 47%;
    height: 400px;
    margin-top: 66px;
  }
  .gh-banner__img-tab {
    display: block;
    margin-top: 66px;
  }
  .gh-banner__img-desk, .gh-banner__img-mob {
    display: none;
  }
  .gh-banner__cta {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .gh-banner__heading {
    font-size: 25px;
  }
  .gh-banner__para {
    font-size: 12px;
  }
  .gh-banner__cnt {
    width: 50%;
    height: 300px;
    margin-top: 66px;
  }
  .gh-banner__img-mob {
    display: block;
    margin-top: 66px;
  }
  .gh-banner__img-desk, .gh-banner__img-tab {
    display: none;
  }
  .gh-banner__cta {
    width: 60%;
  }
  .gh-banner .gh-btn {
    font-size: 12px;
  }
}
.gh-flip .flip-card {
  background-color: transparent;
  width: 350px;
  height: 300px;
  perspective: 1000px;
}
.gh-flip .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.3s;
  transform-style: preserve-3d;
}
.gh-flip .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.gh-flip .flip-card-front, .gh-flip .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.gh-flip .flip-card-front {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.gh-flip .flip-card-front img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.gh-flip .flip-card-back {
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  height: 300px;
  transform: rotateY(180deg);
}
.gh-flip .flip-card-back::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}
.gh-flip .flip-card-back img {
  width: 100%;
  height: 100%;
}
.gh-flip .flip-card-back-cnt {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 24px;
  margin-top: 40px;
}
.gh-flip .flip-card-back-cnt h2 {
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: 600;
  color: #fff;
}
.gh-flip .flip-card-back-cnt p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 767px) {
  .gh-flip .flip-card {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 200px;
  }
  .gh-flip .flip-card-front {
    width: 100%;
    min-height: 200px;
  }
  .gh-flip .flip-card-back {
    width: 100%;
    min-height: 200px;
  }
}
.gh-pricetile {
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}
.gh-pricetile::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.5;
}
.gh-pricetile__cnt {
  position: relative;
  z-index: 1;
}
.gh-pricetile__cnt-heading {
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 16px;
  text-align: left;
  color: #f1f1f1;
}
.gh-pricetile__cnt-price {
  font-size: 45px;
  font-weight: 900;
  color: #f1f1f1;
  text-align: left;
}
.gh-pricetile__cnt-price span {
  font-size: 30px;
  font-weight: 600;
}
.gh-pricetile__cnt-cta {
  margin: 16px 0;
  width: 50%;
}
.gh-pricetile__cnt ul {
  padding-top: 24px;
}
.gh-pricetile__cnt ul li {
  padding-left: 40px;
  font-size: 18px;
  position: relative;
  color: #f1f1f1;
  margin-bottom: 10px;
}
.gh-pricetile__cnt ul li::after {
  position: absolute;
  content: "";
  left: 0;
  top: -13%;
  width: 30px;
  height: 30px;
  background-image: url(../../assets/images/bullet.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gh-pricetile:hover::after {
  opacity: 0.7;
}

.gh-pricetile.active {
  border: 1px solid #f1f1f1;
}
.gh-pricetile.active::after {
  opacity: 0.9;
}
.gh-pricetile.active .gh-pricetile__cnt-heading {
  color: #f1f1f1;
}

.gh-modal .modal-content {
  background-color: #131619;
}
.gh-modal .btn-close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f1f1f1'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E");
}
.gh-modal .modal-footer {
  justify-content: flex-start;
  border: 0;
}
.gh-modal .modal-header {
  border: 0;
  color: #fff;
  font-size: 24px;
  padding: 24px 24px 0 24px;
}
.gh-modal .modal-body {
  padding: 4px 24px 0 24px;
}
.gh-modal .gh-btn {
  width: 20%;
}
.gh-modal .btn-check:focus + .btn, .gh-modal .btn:focus, .gh-modal .btn-close:focus {
  box-shadow: none;
}
.gh-modal__photo {
  padding-bottom: 30px;
}
.gh-modal__photo img, .gh-modal__photo video {
  width: 100%;
  height: auto;
}
.gh-modal__photo--ts {
  padding-top: 30px;
  padding-bottom: 0;
}
.gh-modal__woh {
  display: flex;
  justify-content: flex-end;
  padding: 24px 24px 0 24px;
  color: #fff;
  font-size: 24px;
}
.gh-modal__woh h2 {
  display: flex;
  justify-content: flex-start;
}
.gh-modal ul li {
  position: relative;
  color: #fff;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 8px;
}
.gh-modal ul li::after {
  position: absolute;
  content: "";
  left: 0;
  top: 18%;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .gh-modal .gh-btn {
    width: 40%;
  }
}
.gh-icon body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: #000;
}
.gh-icon .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 100%;
  height: 500px;
  transition: all 400ms;
  background-color: transparent;
}
.gh-icon .container:hover .box {
  filter: grayscale(100%) opacity(24%);
}
.gh-icon .box {
  position: relative;
  background: var(--img) center center;
  background-size: cover;
  background-position: center;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gh-icon .container .box:hover {
  filter: grayscale(0%) opacity(100%);
}
.gh-icon .container:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}
.gh-icon .container:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}
.gh-icon .container:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}
.gh-icon .container:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}
.gh-icon .container:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}
.gh-icon .box:nth-child(odd) {
  transform: translateY(-16px);
}
.gh-icon .box:nth-child(even) {
  transform: translateY(16px);
}
.gh-icon .box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #000;
  color: #fff;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}
.gh-icon .box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}

.gh-form {
  padding: 32px;
  opacity: 0.9;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.gh-form::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.gh-form__in {
  z-index: 1;
  position: relative;
  border-bottom: 1px solid #fff;
  padding: 8px 4px;
  margin-bottom: 20px;
}
.gh-form__in input {
  background-color: transparent;
  font-size: 14px;
  width: 100%;
  color: #fff;
  border: none;
}
.gh-form__in input:valid ~ .gh-form__in-l, .gh-form__in input:focus ~ .gh-form__in-l {
  left: 4px;
  top: 0;
  font-size: 10px;
  color: #f1f1f1;
  transform: translateY(-12px);
  transition: 0.7s;
}
.gh-form__in-l {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  left: 4px;
  top: 7px;
  color: #f1f1f1;
  font-size: 14px;
  transition: 0.7s;
}
.gh-form__drop {
  display: flex;
  justify-content: space-between;
}
.gh-form__drop .gh-form__in {
  width: 15%;
}
.gh-form__drop .gh-form__in input {
  width: 100%;
}
.gh-form__one {
  width: 100%;
  margin-right: 16px;
}
.gh-form__cta {
  z-index: 1;
  width: 35%;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .gh-form__drop {
    flex-direction: column;
  }
  .gh-form__cta {
    width: 50%;
  }
}
#review,
#form,
#price,
#diet {
  height: 67px;
  margin-top: -67px;
}

.gh-main-banner {
  background-color: #000;
}
.gh-main-banner .slick-dots li.slick-active button:before {
  background-color: #D9D9D9;
  width: 10px;
  height: 10px;
}
.gh-main-banner .slick-dots li button:before {
  content: "";
  background: #D9D9D9;
  width: 10px;
  height: 10px;
}
.gh-main-banner .slick-dots li button:before:hover {
  background-color: #D9D9D9;
}
.gh-main-banner .slick-dots {
  bottom: 50px;
  right: 0 !important;
  width: 23%;
}
.gh-main-banner .slick-dots li {
  margin: 0;
}
.gh-main-banner .slick-arrow {
  display: none !important;
}
.gh-main-banner .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.gh-main-banner__mob {
  display: none;
}

@media (max-width: 767px) {
  .gh-main-banner__desk {
    display: none;
  }
  .gh-main-banner__mob {
    display: block;
  }
  .gh-main-banner .slick-dots {
    width: 40%;
    bottom: 20px;
  }
}
.dz-header {
  background-color: rgba(0, 0, 0, 0.7490196078);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.dz-header .navbar-nav {
  margin-left: auto;
}
.dz-header .navbar-brand img {
  width: 40px;
  height: auto;
}
.dz-header .nav-link {
  font-weight: 700;
  font-size: 17px;
  margin: 0 8px;
  color: #fff !important;
  transition: 0.3s;
}
.dz-header .nav-link:hover {
  transition: 0.3s;
  transform: translateY(2px);
  opacity: 0.8;
}
.dz-header .nav-link.icon {
  position: relative;
  padding-left: 24px !important;
}
.dz-header .nav-link.icon::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17' viewBox='0 0 15 17' fill='none'%3E%3Cg clip-path='url(%23clip0_17_4212)'%3E%3Cpath d='M14.7849 14.8017L13.9907 13.9409C12.9535 12.8135 11.8789 11.6489 10.82 10.5046C12.1001 8.63795 12.3991 6.57551 11.7139 4.3713C11.3152 3.0886 10.5521 1.99156 9.50872 1.19831C8.49647 0.425315 7.2662 0 6.04215 0C5.712 0 5.37874 0.0303797 5.0517 0.091139C3.46013 0.388185 2.0679 1.31983 1.13663 2.71729C0.205357 4.11476 -0.171511 5.8329 0.0714289 7.56116C0.276994 9.00926 0.952866 10.3628 1.96823 11.3721C2.98671 12.3814 4.28862 12.9822 5.63102 13.0666C5.75872 13.0734 5.88953 13.0801 6.01723 13.0801C7.20079 13.0801 8.30336 12.7257 9.29381 12.0303C10.0008 12.8 10.7203 13.5797 11.418 14.3325C11.7637 14.7071 12.1125 15.0852 12.4583 15.4599C12.6856 15.7063 12.9161 15.9595 13.1372 16.2025C13.2431 16.3173 13.3459 16.432 13.4518 16.5468L13.5546 16.6616H13.8816L14.2305 16.2768C14.4142 16.0742 14.598 15.8717 14.7849 15.6692C14.8908 15.5544 14.9998 15.4362 14.9967 15.2371C14.9998 15.0346 14.8908 14.9164 14.7849 14.8017ZM6.0951 1.53586C7.29734 1.53586 8.44041 2.05907 9.30939 3.00759C10.1846 3.96286 10.6611 5.22193 10.6518 6.55526C10.6424 7.89871 10.1597 9.15441 9.29381 10.0928C8.42483 11.0312 7.2662 11.5477 6.02969 11.5477H6.02035C4.78385 11.5443 3.62832 11.0244 2.75934 10.0793C1.89348 9.13416 1.41383 7.87509 1.41071 6.52825C1.4076 5.20167 1.88725 3.94936 2.75934 2.99746C3.62832 2.05569 4.76827 1.53586 5.97363 1.53586C5.99232 1.53586 6.011 1.53586 6.03281 1.53586H6.04215C6.05772 1.53586 6.07641 1.53586 6.0951 1.53586Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_17_4212'%3E%3Crect width='15' height='16.6582' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.dz-header .nav-link.icon.login {
  margin: 0;
  padding-left: 4px !important;
  padding-right: 24px;
}
.dz-header .nav-link.icon.login::after {
  left: unset;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15' fill='none'%3E%3Cg clip-path='url(%23clip0_17_4147)'%3E%3Cpath d='M7.40667 0C7.80447 0.047791 8.20226 0.0860238 8.58818 0.197536C11.1976 0.943076 12.9728 2.67948 13.7031 5.47048C14.466 8.37935 13.7417 10.9314 11.7141 13.0246C10.6306 14.1429 9.30065 14.7833 7.8015 14.9554C5.45926 15.223 3.47622 14.4106 1.85239 12.5945C1.26164 11.935 0.822281 11.1608 0.504639 10.3133C0.474953 10.2336 0.445266 10.1572 0.451204 10.068C0.466047 9.91504 0.572917 9.7876 0.712442 9.76211C0.860873 9.73343 0.997429 9.81308 1.06571 9.98513C1.19039 10.3037 1.31804 10.6192 1.48428 10.9123C2.5708 12.843 4.14713 14.0059 6.24001 14.2672C8.37741 14.5348 10.2031 13.7925 11.6726 12.1071C12.6018 11.0429 13.1391 9.76529 13.2905 8.31563C13.4894 6.41355 13.0411 4.69626 11.916 3.20837C10.8443 1.7842 9.44611 0.946262 7.7451 0.742353C5.63441 0.490654 3.83543 1.20752 2.36002 2.83879C1.8138 3.44095 1.4071 4.14507 1.10727 4.92566C1.09242 4.96389 1.08055 5.00531 1.06274 5.04354C0.979618 5.22196 0.816344 5.29843 0.659007 5.23152C0.495733 5.16461 0.412612 4.97982 0.477921 4.78866C0.599635 4.42545 0.75994 4.07498 0.943994 3.74363C2.02457 1.8065 3.59497 0.602167 5.65519 0.133815C5.95799 0.0637213 6.26969 0.0414189 6.57546 0C6.85154 0 7.13059 0 7.40667 0Z' fill='black'/%3E%3Cpath d='M-2.21052e-05 7.40761C0.0771619 7.2037 0.23153 7.14954 0.418553 7.15272C1.03009 7.15272 1.64162 7.15272 2.25316 7.15272C4.41134 7.15272 6.56656 7.15272 8.72474 7.15272C8.78115 7.15272 8.84052 7.16865 8.89989 7.13679C8.89099 7.06989 8.83755 7.04121 8.80193 7.00298C8.25274 6.41037 7.70057 5.81776 7.14841 5.22834C7.10982 5.18692 7.07123 5.1455 7.03857 5.1009C6.94654 4.9639 6.95842 4.78229 7.06529 4.66441C7.16919 4.54652 7.32653 4.52422 7.45715 4.61343C7.50761 4.64529 7.54917 4.69308 7.59073 4.73769C8.34773 5.55013 9.10473 6.36258 9.86173 7.17503C10.0933 7.42354 10.0962 7.58922 9.86766 7.83454C9.1077 8.65018 8.34773 9.46899 7.5848 10.2846C7.54027 10.3324 7.49277 10.3802 7.43637 10.4153C7.29981 10.4981 7.13357 10.4567 7.03857 10.3292C6.94951 10.2082 6.94951 10.0266 7.04451 9.9023C7.08013 9.85769 7.11872 9.81628 7.15732 9.77486C7.70948 9.18225 8.26164 8.59283 8.81083 8.00022C8.84052 7.96836 8.87021 7.93331 8.9088 7.88871C8.84646 7.83773 8.78115 7.86003 8.72178 7.86003C5.9669 7.86003 3.21499 7.86003 0.460114 7.86003C0.261216 7.86003 0.0830992 7.83136 -0.00299072 7.60196C-2.21052e-05 7.53505 -2.21052e-05 7.47133 -2.21052e-05 7.40761Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_17_4147'%3E%3Crect width='14' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.dz-header .navbar-toggler {
  padding: 0;
  border: 0;
}
.dz-header .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}
.dz-header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='%23fff'%3E%3Cg clip-path='url(%23clip0_17_4155)'%3E%3Cpath d='M15 7.51923C15 9.4069 15.0035 11.2981 15 13.1857C15 14.0352 14.4652 14.7273 13.6542 14.9441C13.4899 14.9895 13.3221 15.0035 13.1543 15.0035C9.38942 15.0035 5.62107 15.0035 1.85621 15.0035C0.772547 15.0035 0.00349569 14.2275 0.00349569 13.1438C0 9.37893 0 5.61757 0 1.85971C0 0.776043 0.769051 0.00349569 1.85621 0.00349569C5.61757 0 9.37544 0 13.1368 0C14.2309 0 14.9965 0.772547 15 1.8667C15 3.75087 15 5.63505 15 7.51923ZM14.2869 7.49825C14.2869 5.62806 14.2869 3.75437 14.2869 1.88418C14.2869 1.15707 13.8464 0.71312 13.1298 0.71312C9.37544 0.71312 5.62107 0.71312 1.8667 0.71312C1.15707 0.71312 0.71312 1.15707 0.71312 1.8667C0.71312 5.62107 0.71312 9.37544 0.71312 13.1298C0.71312 13.8394 1.16057 14.2834 1.87019 14.2834C5.62456 14.2834 9.37893 14.2834 13.1333 14.2834C13.2557 14.2834 13.378 14.2764 13.4969 14.2449C14.0002 14.1051 14.2869 13.6961 14.2904 13.1123C14.2869 11.2421 14.2869 9.37194 14.2869 7.49825Z' fill='black'/%3E%3Cpath d='M7.50173 7.14519C8.907 7.14519 10.3123 7.14519 11.7175 7.14519C11.9902 7.14519 12.1405 7.27103 12.144 7.49476C12.144 7.68352 12.0182 7.83034 11.8294 7.84782C11.7665 7.85481 11.7001 7.85132 11.6371 7.85132C8.87903 7.85132 6.11744 7.85132 3.35934 7.85132C3.3069 7.85132 3.25447 7.85132 3.20203 7.84782C2.99229 7.83384 2.85246 7.69052 2.85596 7.49126C2.85946 7.299 2.99229 7.15917 3.19504 7.14519C3.25447 7.14169 3.3104 7.14169 3.36983 7.14169C4.74713 7.14519 6.12443 7.14519 7.50173 7.14519Z' fill='white'/%3E%3Cpath d='M7.48075 4.64228C6.07549 4.64228 4.67022 4.64228 3.26495 4.64228C3.00977 4.64228 2.85945 4.50944 2.85596 4.29271C2.85596 4.10394 2.9818 3.96062 3.17057 3.93964C3.23349 3.93265 3.29991 3.93615 3.36283 3.93615C6.12093 3.93615 8.88252 3.93615 11.6406 3.93615C11.7035 3.93615 11.77 3.93265 11.8329 3.93964C12.0147 3.96062 12.1405 4.09695 12.144 4.27523C12.151 4.4605 12.0217 4.61431 11.8399 4.63878C11.7839 4.64577 11.7245 4.64228 11.6651 4.64228C10.2703 4.64228 8.87553 4.64228 7.48075 4.64228Z' fill='white'/%3E%3Cpath d='M7.50172 11.0708C6.09645 11.0708 4.69118 11.0708 3.28592 11.0708C3.01325 11.0708 2.86294 10.945 2.85944 10.7213C2.85595 10.536 2.98529 10.3857 3.17056 10.3647C3.20552 10.3612 3.24047 10.3612 3.27543 10.3612C6.09296 10.3612 8.91048 10.3612 11.728 10.3612C11.9937 10.3612 12.1475 10.494 12.1475 10.7178C12.1475 10.8995 12.0251 11.0394 11.8434 11.0638C11.7734 11.0708 11.7035 11.0708 11.6336 11.0708C10.2528 11.0708 8.87552 11.0708 7.50172 11.0708Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_17_4155'%3E%3Crect width='15' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

@media (max-width: 1023px) {
  .dz-header {
    background-color: #000;
  }
  .dz-header .navbar-nav {
    margin-left: auto;
  }
  .dz-header .navbar-toggler {
    order: 1;
  }
  .dz-header .navbar-brand {
    margin: 0;
    order: 2;
    width: 33%;
    display: flex;
    justify-content: center;
  }
  .dz-header .navbar-brand img {
    width: 50px;
  }
  .dz-header__login {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    order: 3;
  }
  .dz-header .navbar-collapse {
    order: 4;
  }
  .dz-header .container-fluid {
    padding: 0;
  }
  .dz-header .navbar-search {
    flex-direction: column;
  }
  .dz-header .navbar-search .nav-link {
    padding: 8px 0;
  }
  .dz-header .navbar-toggler {
    width: 33%;
    display: flex;
    justify-content: flex-start;
  }
}
.gh-respo {
  padding: 40px 0;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.gh-respo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}
.gh-respo__outer {
  display: flex;
  margin: 0 -16px;
  flex-wrap: wrap;
  padding-top: 16px;
}
.gh-respo__tile {
  width: calc(33% - 32px);
  margin: 0 16px;
  z-index: 2;
  position: relative;
  padding-bottom: 40px;
}
.gh-respo__heading {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 32px;
  color: #fff;
  z-index: 2;
  position: relative;
}
.gh-respo__para {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #fff;
  z-index: 2;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gh-respo__outer {
    justify-content: center;
  }
  .gh-respo__tile {
    width: calc(50% - 32px);
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .gh-respo__outer {
    display: block;
  }
  .gh-respo__tile {
    width: calc(100% - 32px);
    padding-bottom: 20px;
  }
}
.gh-footer {
  background-color: #131619;
  position: relative;
}
.gh-footer::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.gh-footer__outer {
  padding: 40px 0 16px;
  display: flex;
  position: relative;
  z-index: 1;
}
.gh-footer__sec-1 {
  width: calc(30% - 64px);
  margin: 0 32px;
}
.gh-footer__logo {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.gh-footer__logo img {
  width: 100%;
  height: auto;
}
.gh-footer__head {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 8px;
}
.gh-footer__txt {
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
  margin-bottom: 8px;
}
.gh-footer__txt--accodn {
  transition: 0.3s;
}
.gh-footer__txt--accodn:hover {
  color: #ffffff;
  transition: 0.3s;
}
.gh-footer__contact {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.gh-footer__contact-phn, .gh-footer__contact-mail {
  height: auto;
  margin-right: 8px;
  transition: 0.3s;
}
.gh-footer__contact-phn svg, .gh-footer__contact-mail svg {
  width: 100%;
  height: auto;
  transition: 0.3s;
}
.gh-footer__contact-phn {
  width: 15px;
}
.gh-footer__contact-mail {
  width: 20px;
}
.gh-footer__contact p {
  font-size: 16px;
  color: #b3b3b3;
  transition: 0.3s;
}
.gh-footer__contact:hover svg path {
  fill: #ffffff;
  transition: 0.3s;
}
.gh-footer__contact:hover p {
  color: #ffffff;
  transition: 0.3s;
}
.gh-footer__sec-2 {
  width: calc(70% - 64px);
  margin: 0 32px;
}
.gh-footer .accordion {
  display: flex;
}
.gh-footer .accordion-item {
  width: calc(25% - 32px);
  margin: 0 16px;
  background: transparent;
  border: 0;
}
.gh-footer .accordion-button {
  font-size: 18px;
  color: #ffffff;
  background: transparent;
  padding: 0;
  pointer-events: none;
  box-shadow: none;
}
.gh-footer .accordion-button:focus {
  box-shadow: none;
}
.gh-footer .accordion-button::after {
  content: none;
}
.gh-footer .accordion-header {
  position: relative;
  min-height: 45px;
}
.gh-footer .accordion-body {
  padding: 0;
}
.gh-footer__acc-box {
  display: flex;
  flex-direction: column;
}
.gh-footer__copy-right {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  padding: 16px 0;
}
.gh-footer__copy-right-cp {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.gh-footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding-bottom: 16px;
}
.gh-footer__social-whapp, .gh-footer__social-insta, .gh-footer__social-fb, .gh-footer__social-ytube {
  height: auto;
  margin-right: 16px;
  transition: 0.3s;
}
.gh-footer__social-whapp svg, .gh-footer__social-insta svg, .gh-footer__social-fb svg, .gh-footer__social-ytube svg {
  width: 100%;
  height: auto;
}
.gh-footer__social-whapp:hover, .gh-footer__social-insta:hover, .gh-footer__social-fb:hover, .gh-footer__social-ytube:hover {
  scale: 1.1;
  transition: 0.3s;
}
.gh-footer__social-whapp:hover svg path, .gh-footer__social-insta:hover svg path, .gh-footer__social-fb:hover svg path, .gh-footer__social-ytube:hover svg path {
  fill: #ffffff;
}
.gh-footer__social-whapp {
  width: 27px;
}
.gh-footer__social-insta {
  width: 17px;
}
.gh-footer__social-fb {
  width: 25px;
}
.gh-footer__social-ytube {
  width: 27px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gh-footer .accordion-item {
    width: calc(33.3% - 32px);
  }
  .gh-footer .accordion-header {
    margin-bottom: 8px;
  }
  .gh-footer__head {
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .gh-footer__outer {
    display: block;
  }
  .gh-footer__sec-1 {
    width: 100%;
    margin: 16px 0;
  }
  .gh-footer__sec-2 {
    width: 100%;
    margin: 0;
  }
  .gh-footer .accordion {
    display: block;
  }
  .gh-footer .accordion-item {
    width: 100%;
    margin: 0;
  }
  .gh-footer .accordion-button {
    pointer-events: fill;
  }
}
.gh-pricing {
  padding: 40px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.gh-pricing__outer {
  display: flex;
  margin: 0 -16px;
  flex-wrap: wrap;
}
.gh-pricing__tile {
  width: calc(25% - 32px);
  margin: 0 16px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gh-pricing__tile {
    width: calc(50% - 32px);
    padding-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .gh-pricing__outer {
    flex-direction: column;
  }
  .gh-pricing__tile {
    width: calc(100% - 32px);
    padding-bottom: 24px;
  }
}
.gh-diet {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  position: relative;
  display: flex;
  align-items: center;
}
.gh-diet::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}
.gh-diet video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gh-diet__txt {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.gh-diet__txt .clr {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  color: #000;
  font-weight: 900;
  opacity: 0.3;
  font-size: 400px;
  line-height: 400px;
  text-align: left;
  transition: 0.3s;
  cursor: pointer;
}
.gh-diet__txt .clr:hover {
  color: #fff;
  transition: 0.1s;
  opacity: 0.5;
}
.gh-diet__txt .clr:first-child {
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  color: #000;
}
@keyframes example {
  0% {
    color: #fff;
  }
  25% {
    color: #000;
  }
  50% {
    color: #fff;
  }
  75% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}
.gh-diet__plan {
  position: relative;
  z-index: 2;
  text-align: left;
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  opacity: 0.2;
  margin-top: -70px;
  padding-left: 29px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gh-diet {
    height: 400px;
  }
  .gh-diet__txt .clr {
    font-size: 250px;
    line-height: 250px;
  }
  .gh-diet__plan {
    margin-top: -20px;
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .gh-diet {
    height: auto;
    padding: 40px 0;
  }
  .gh-diet__txt .clr {
    font-size: 150px;
    line-height: 150px;
  }
  .gh-diet__plan {
    margin-top: 10px;
    text-align: left;
    padding-left: 7px;
  }
}
.gh-offers {
  background-color: #131619;
  padding: 50px 0;
}
.gh-offers__out {
  display: flex;
  align-items: center;
}
.gh-offers__out--rev {
  flex-direction: row-reverse;
}
.gh-offers__image {
  width: 55%;
}
.gh-offers__image video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gh-offers__block {
  width: 45%;
  padding: 0 16px;
}
.gh-offers__block--fm {
  display: flex;
  margin: 0 auto;
}
.gh-offers__block--fm .content-wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gh-offers__block {
    width: 80% !important;
  }
}
@media (max-width: 1023px) {
  .gh-offers__out {
    flex-direction: column;
  }
  .gh-offers__image {
    width: 100%;
    padding-bottom: 30px;
  }
  .gh-offers__block {
    width: 100%;
    padding: 0;
  }
}